<div class="container">
<h1>padre works!</h1>
<app-hijo
  (EventoMensaje1)="recibirMensaje1($event)"
  (EventoMensaje2)="recibirMensaje2($event)"
  (EventoMensaje3)="recibirMensaje3($event)"
  (EventoMensaje4)="recibirMensaje4($event)"
  (EventoMensaje5)="recibirMensaje5($event)"
>
</app-hijo>

<h3>{{textoPadre1}}</h3>
<h3>{{textoPadre2}}</h3>
<h3>{{textoPadre3}}</h3>
<h3>{{textoPadre4}}</h3>
<h3>{{textoPadre5}}</h3>
</div>